@mixin decorNumber {
    position: absolute;
    top: 0;
    z-index: -1;

    opacity: 0.02;
    line-height: 1.15;
    font-size: 400px;
    font-family: $font-accent;
}

@mixin mediaLaptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

@mixin mediaTablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mediaTabletSecond {
    @media screen and (max-width: $tablet-2) {
        @content;
    }
}

@mixin mediaPhone {
    @media screen and (max-width: $phone) {
        @content;
    }
}